@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;

}

input, button {
  font-family: 'Roboto Slab' , serif;
}

/* body, h1, h2, h3, h4, h5, h6, p, blockquote, figure, dl, dd, ul, ol, li, pre, table, th, td {
  margin: 0;
  padding: 0;
} */


.container {
  min-height: 100vh;
  width: 1250px;
  display: flex;
  flex-direction: column;
}

.root-outlet {
  flex: 1; 
}

.navigation {
  min-height: 50px;

}

.footer {
  min-height: 50px;
}

#root {
    justify-content: center;
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}